<%- include('../layouts/adminHeader.ejs') -%>

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div class="report">
                    <a href="/admin/loadSalesReport" class="btn btn-yellow"><i class="text-muted material-icons md-post_add"></i>Create report</a>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <%if(locals.salesData){%>
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary">&#8377;</i>
                            </span>
                            <div class="text">
                                <%let total=0%>
                                <%salesData.forEach((item)=>{
                                    if(!isNaN(parseInt(item.totalAmount))){
                                       total+= parseInt(item.totalAmount)
                                   }
                               })%>

                                <h6 class="mb-1 card-title">Revenue</h6>
                                
                                <span>Rs <%= total.toLocaleString() %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>

                    <%}%>
                </div>


                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <%if(locals.totalOrders){%>
                                <h6 class="mb-1 card-title">Orders</h6> <span><%=totalOrders%></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                                <%}%>
                            </div>
                        </article>
                    </div>
                </div>




                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <%if(locals.totalProducts){%>
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%=totalProducts%></span>
                                <%if(locals.categories){%>
                                    <span class="text-sm">
                                        In <%=categories.length%> Categories
                                    </span>
                                <%}%>
                                
                            </div>
                            <%}%>
                        </article>
                    </div>
                </div>




                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Total Brands</h6>
                                 <span>5</span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div>

            </div>

            <div>
                <label for="sorting">Select sorting:</label>
                <select id="sorting" onchange="updateChart(event)">
                  <option value="weekly">Weekly</option>
                  <option value="monthly">Monthly</option>
                  <option value="yearly">Yearly</option>
                </select>
              </div>

              
              <canvas id="salesChart" width="200" height="100"></canvas>



              <!-- TOP SELLING PRODUCTS -->

              <div class="card mb-4">
                <header class="card-header custom-header">
                    <h4 class="card-title">Top Selling Products</h4>    
                </header>
            
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="custom-table-header">
                                <tr>
                                    <th class="custom-column-header">Product Name</th>
                                    <th class="custom-column-header">Total Orders</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% mostOrderedProducts.forEach(product => { %>
                                    <tr>
                                        <td class="custom-cell"><%= product.productName %></td> 
                                        <td class="custom-cell"><%= product.totalQuantity %></td>
                                    </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- table-responsive end// -->
            </div>
            
           <!-- ////////////////////TOP SELLING CATEGORY////////////// -->
           <div class="card mb-4">
            <header class="card-header">
                <h4 class="card-title custom-header">Top Selling Categories</h4>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead>
                                    <tr class="custom-column-header">
                                        <th>Category Name</th>
                                        <th>Total Orders</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% topSellingCategories.forEach(cat => { %>
                                        <tr>
                                            <td class="custom-cell"><%= cat.categoryName %></td>
                                            <td class="custom-cell"><%= cat.totalQuantity %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

<!-- ///////////////////////////TOP SELLING MONTHS -->

<div class="card mb-4">
    <header class="card-header">
        <h4 class="card-title custom-header">Top Selling Months</h4>
    </header>
    <div class="card-body">
        <div class="table-responsive">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap mb-0">
                        <thead>
                            <tr class="custom-column-header">
                                <th>Month Name</th>
                                <th>Total Orders</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% topSellingMonth.forEach(month => { %>
                                <tr>
                                    <td class="custom-cell"><%= month.month %></td>
                                    <td class="custom-cell"><%= month.totalOrders %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div> <!-- table-responsive end// -->
        </div>
    </div>
</div>

        </section>
        <%- include('../layouts/adminFooter.ejs') -%>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="script.js"></script>



        <script>

        async function fetchSalesData() {
            try {
              const response = await fetch('/admin/salesData'); 
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
              const salesData = await response.json();
              
              return salesData;
            } catch (error) {
        
              return null;
            }
          }
          
          async function updateChart(e) {
            const sortingOption = e.target.value;
            const salesData = await fetchSalesData();
            if (!salesData) {
              console.error('Sales data is missing');
              return;
            }
          
            let labels, datasetsLabel, datasetsData, backgroundColor, borderColor;
          
            if (sortingOption === 'monthly') {
    labels = Object.keys(salesData.monthly);
    datasetsLabel = 'Monthly Sales';
    datasetsData = Object.values(salesData.monthly);
    backgroundColor = 'rgba(255, 204, 0, 0.6)';  
    borderColor = '#ffcc00';  
} else if (sortingOption === 'yearly') {
    labels = Object.keys(salesData.yearly);
    datasetsLabel = 'Yearly Sales';
    datasetsData = Object.values(salesData.yearly);
    backgroundColor = 'rgba(255, 223, 51, 0.6)';  
    borderColor = 'rgba(255, 223, 51, 1)';    
} else {
    labels = Object.keys(salesData.weekly);
    datasetsLabel = 'Weekly Sales';
    datasetsData = Object.values(salesData.weekly);
    backgroundColor = 'rgba(255, 204, 0, 0.6)'; 
    borderColor = 'rgba(255, 204, 0, 1)';  
}



          
            const filteredData = {
              labels: labels,
              datasets: [
                {
                  label: datasetsLabel,
                  data: datasetsData,
                  backgroundColor: backgroundColor,
                  borderColor: borderColor,
                  borderWidth: 1,
                },
              ],
            };
          
            const ctx = document.getElementById('salesChart').getContext('2d');
          
            
            if (window.salesChart instanceof Chart) {
              window.salesChart.destroy(); 
            }
          
            
            window.salesChart = new Chart(ctx, {
              type: 'bar',
              data: filteredData,
              options: {
                scales: {
                  y: {
                    beginAtZero: true,
                  },
                },
              },
            });
          }
          
          // Initial chart rendering
          async function updateChartWithData() {
            
            const salesData = await fetchSalesData();
            if (!salesData) {
              console.error('Failed to fetch sales data.');
              return;
            }
          
            const selectedOption = document.getElementById('sorting').value;
            console.log('Selected sorting option:', selectedOption);
            await updateChart({ target: { value: selectedOption } });
          }
          
          // Set up the initial chart rendering
          updateChartWithData();


          </script>


   
    


    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin-assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
    <script src="/admin-assets/js/custom-chart.js" type="text/javascript"></script>
</body>

<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>