<%- include('../layouts/adminHeader.ejs') -%>

        <section class="content-main">
            <div class="content-header">
                <% if (locals.orders) { %>
                <div>
                    <h2 class="content-title card-title">Order detail</h2>
                    <p> Order Id:  <%= orders.orderId %></p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                            <span>
                                <i class="material-icons md-calendar_today"></i> <b><%= orders.orderDate.toLocaleString()  %></b>
                            </span> <br>
                            <small class="text-muted">Order Id: <%= orders.orderId%></small>
                        </div>
                    </div>
                </header>
                 <!-- card-header end// -->



                <div class="card-body">
                    <div class="row mb-50 mt-20 order-info-wrap">

                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-person"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Customer</h6>
                                    <p class="mb-1">
                                       Name: <%= orders.address.name%> <br>
                                        Phone: <%= orders.address.mobile %>
                                    </br>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-local_shipping"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Order info</h6>
                                    <p class="mb-1">
                                        Shipping: SportZone  express <br> Pay method: <%= orders.paymentMethod %> <br>
                                         Status:<%= orders.orderStatus %> 
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                        <div class="col-md-4">
                            <article class="icontext align-items-start">
                                <span class="icon icon-sm rounded-circle bg-primary-light">
                                    <i class="text-primary material-icons md-place"></i>
                                </span>
                                <div class="text">
                                    <h6 class="mb-1">Deliver to</h6>
                                    <p class="mb-1">
                                        House : <%= orders.address.houseName %><br>
                                        City: <%= orders.address.city %> <br> 
                                        State: <%= orders.address.state %> <br>
                                        Pincode: <%= orders.address.pincode %>
                                    </p>
                                </div>
                            </article>
                        </div> <!-- col// -->
                    </div> <!-- row // -->
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="table-responsive">
                                <% if (orderData && orderData.totalAmount === 0) { %>
                                    <% orders.orderStatus = 'Cancelled'; %>
                                <% } %>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="40%">Product</th>
                                            <th width="20%">Unit Price</th>
                                            <th width="20%">Quantity</th>
                                            <th width="20%" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% let grandTotal = 0; %>
                                        <% for(let order of orders.product) { %>
                                        <tr <% if (order.productStatus === 'Cancelled') { %>style="text-decoration: line-through;"<% } %>>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left">
                                                        <!-- <img src="/admin-assets/imgs/items/1.jpg" width="40" height="40" class="img-xs" alt="Item"> -->
                                                    </div>
                                                    <div class="info"> <%= order.productId.productName %>
                                                         </div>
                                                </a>
                                            </td>
                                            <td> <%= order.productId.productPrice %></td>
                                            <td> <%= order.quantity %> </td>
                                            <td class="text-end"> 
                                                $<%= (order.quantity * order.productId.productPrice).toFixed(2) %>
                                            </td>
                                        </tr>
                                        <% grandTotal += order.quantity * order.productId.productPrice; %>
                                         <% } %>
                                       <% if(orderData) { %>
                                        <tr>
                                            <td colspan="4">
                                                <article class="float-end">
                                                    <dl class="dlist">
                                                        <h5>
                                                            <dt style="font-weight: bold; color: #333;">Grand total:
                                                                $<%= orderData.totalAmount %>
                                                            </dt>
                                                        </h5>
                                                        <dd></dd>
                                                        
                                                    </dl>
                                                   
                                                </article>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <tr>
                                            <td colspan="4">
                                                <dl class="dlist">
                                                    <dt class="text-muted" style="font-weight: bold; color: #333;"><strong>Status:</strong></dt>
                                                    <dd>
                                                        <span class="badge rounded-pill alert-success text-success">
                                                            <%= orders.paymentStatus %>
                                                        </span>
                                                    </dd>
                                                </dl>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive// -->
                        </div> <!-- col// -->
                        
                    </div>
                </div> <!-- card-body end// -->
            </div>
            <% } %> <!-- card end// -->
        </section>
         <!-- content-main end// -->
        <%- include('../layouts/adminFooter.ejs') -%>
    </main>
    <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin-assets/js/vendors/select2.min.js"></script>
    <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin-assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>