
<%- include('../layouts/userHeader.ejs') -%>
    

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>


        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-sm-15">
                        <div class="panel-collapse collapse login_form" id="loginform">
                            <div class="panel-body">


                                <p class="mb-30 font-sm">If you have shopped with us before, please enter your details below.
                                     If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" name="email" placeholder="Username Or Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password">
                                    </div>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="remember" value="">
                                                <label class="form-check-label" for="remember"><span>Remember me</span></label>
                                            </div>
                                        </div>
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-md" name="login">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                   
                    <div class="panel-body">
                        <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn dropdown-toggle" type="button" id="couponDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Select Coupon
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="couponDropdown" id="couponDropdownMenu">
                                        <% if (availableCoupons && availableCoupons.length > 0) { %>
                                            <% availableCoupons.forEach(coupon => { %>
                                                <% if (grandTotal >= coupon.minimumPurchase) { %>
                                                    <a class="dropdown-item" href="#" onclick="selectCoupon('<%= coupon.couponCode %>')">
                                                        <%= coupon.couponName %> Rs.<%= coupon.discountAmount %> Off (Min Purchase: Rs.<%= coupon.minimumPurchase %>)
                                                    </a>
                                                <% } %>
                                            <% }) %>
                                        <% } else { %>
                                            <span class="dropdown-item">No available coupons</span>
                                        <% } %>
                                    </div>
                                </div>
                    
                                <!-- Manual coupon input field (if user wants to enter manually) -->
                                <input type="text" class="form-control" placeholder="Enter Coupon Code..." id="couponCode">
                    
                                <!-- Apply Coupon Button -->
                                <div class="input-group-append">
                                    <a class="btn btn-primary" id="applyCouponBtn" onclick="applyCoupon()">Apply Coupon</a>
                                </div>
                            </div>
                        </div>
                        <div id="couponNamePlaceholder"></div>
                    </div>

                    </div>     
                </div>


                <!-- <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>
                            <% if (addresses && addresses.length > 0) { %>
                                <% addresses.forEach((address, index) => { %>
                                    <hr>
                                    <div class="address-container" id="address_<%= address._id %>">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="selectedAddress"
                                                   id="address_radio_<%= address._id %>" value="<%= address._id %>"
                                                   <%= index === 0 ? 'checked' : '' %>
                                            >
                                            <label class="form-check-label" for="address_radio_<%= address._id %>">
                                                <address>
                                                    Name: <%= address.name %> <br>
                                                    Housename: <%= address.houseName %> <br>
                                                    City: <%= address.city %>, <br>
                                                    State: <%= address.state %>. <br>
                                                    Pincode: <%= address.pincode %>
                                                </address>
                                                <a class="remove-icon" onclick="removeAddress('<%= address._id %>')">
                                                    <i class="fa-solid fa-trash fa-xl"></i>
                                                </a>
                                                <h6><a href="/loadEditAddress?id=<%= address._id %>" class="edit-address" style="color: green;">Edit</a></h6>
                                            </label>
                                        </div>
                                        <h5></h5>
                                    </div>
                                    <hr>
                                <% }); %>
                                <% if (addresses.length < 3) { %>
                                    <div class="address-container">
                                        <input type="button" value="Add Address" onclick="toggleAddressForm()" class="add-address" style="background-color:#046963; color: aliceblue; font-weight: bold;">
                                    </div>
                                <% } %>
                            <% } else { %>
                                <p>No address found.</p>
                                <div class="address-container">
                                    <input type="button" value="Add Address" onclick="toggleAddressForm()" class="add-address" style="background-color:#046963; color: aliceblue; font-weight: bold;">
                                </div>
                            <% } %>
                    
                            <div class="col-lg-12" id="addressFormContainer" style="display: none;">
                                <div class="card mb-3 mb-lg-0">
                                    <div class="card-header">
                                        <h5 class="mb-0">Add New Address</h5>
                                    </div>
                                    <div class="card-body">
                                        
                                        <form id="addressForm" action="/addAddress" method="post">
                                            <div class="form-group mb-3">
                                                <label for="inputName" class="form-label">Name</label>
                                                <input type="text" class="form-control form-control-lg p-3" name="name" id="inputName" placeholder="Enter your full name">
                                                <div id="nameError" class="text-danger"></div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="inputMobile" class="form-label">Mobile</label>
                                                <input type="text" class="form-control form-control-lg p-3" name="mobile" id="inputMobile" placeholder="Enter your mobile number" pattern="[0-9]{10}">
                                                <div id="mobileError" class="text-danger"></div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="inputHouseName" class="form-label">House Name</label>
                                                <input type="text" class="form-control form-control-lg p-3" name="houseName" id="inputHouseName" placeholder="Enter your house name">
                                                <div id="houseNameError" class="text-danger"></div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="inputCity" class="form-label">City</label>
                                                <input type="text" class="form-control form-control-lg p-3" name="city" id="inputCity" placeholder="Enter your city">
                                                <div id="cityError" class="text-danger"></div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="inputState" class="form-label">State</label>
                                                <input type="text" class="form-control form-control-lg p-3" name="state" id="inputState" placeholder="Enter your state">
                                                <div id="stateError" class="text-danger"></div>
                                            </div>
                                            <div class="form-group mb-3">
                                                <label for="inputZip" class="form-label">Pin Code</label>
                                                <input type="number" class="form-control form-control-lg p-3" name="pincode" id="inputZip" placeholder="Enter your pin code">
                                                <div id="pinCodeError" class="text-danger"></div>
                                            </div>
                                            <div class="form-group mt-4">
                                                <button type="submit" class="btn btn-fill-out btn-block btn-lg font-weight-bold">Save Address</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>

                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (locals.cartData && cartData.product.length> 0) { %>
                                            <% let total=0; %>
                                                <% for (let i=0; i < cartData.product.length; i++) { %>
                                                    <tr>
                                                        <td class="image product-thumbnail">
                                                            <img src="/uploads/<%= cartData.product[i].productId.images[0] %>" alt="#">
                                                            
                                                        </td>
                                                        <td>
                                                            <h5><a href="shop-product-full.html">
                                                                    <%= cartData.product[i].productId.productName %>
                                                                </a></h5>
                                                            <span class="product-qty">x <%=
                                                                    cartData.product[i].quantity %></span>
                                                        </td>
                                                        <td>Rs.<%= cartData.product[i].productId.productPrice *
                                                                cartData.product[i].quantity %>
                                                        </td>
                                                    </tr>
                                                    <% total +=cartData.product[i].productId.productPrice *
                                                        cartData.product[i].quantity; %>
                                                        <% } %>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <td colspan="2" class="product-subtotal"><span
                                                                            class="font-xl text-brand fw-900"
                                                                            id="GrandTotal">Rs.<%= total.toFixed(2) %>
                                                                                </span></td>
                                                                </tr>
                                                            <% }else{%>
                                                                <tr>
                                                                    <td class="image product-thumbnail">
                                                                        
                                                                            <img src="/uploads/<%=cartData.product[i].productId.images[0]%>" alt="#">
                                                                    </td>
                                                                    <td>
                                                                        <h5><a href="shop-product-full.html">
                                                                                <%= product.productName %>
                                                                            </a></h5>
                                                                        <span class="product-qty"></span>
                                                                    </td>
                                                                    <td>Rs.<%=product.productPrice %>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Total</th>
                                                                    <td colspan="2" class="product-subtotal"><span
                                                                            class="font-xl text-brand fw-900"
                                                                            id="GrandTotal"> $
                                                                            <%=product.productPrice.toFixed(2) %>
                                                                                </span></td>
                                                                </tr>
                                                                <% } %>
                                    </tbody>
                                </table>
                                <% if (cartData.product) { %>
                                    <input type="hidden" id="buyNowProductId" value="<%= cartData.productId %>">
                                  <% } %>
                            </div>




                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">
                                     <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio"
                                         name="payment_option" value="Razorpay" id="exampleRadios3">
                                        <label class="form-check-label" for="exampleRadios3" 
                                        data-bs-toggle="collapse" data-target="#checkPayment"
                                        aria-controls="checkPayment">Razor pay</label>
                                        <div class="form-group collapse in" id="checkPayment"></div>
                                        </div>

                                    <div class="custome-radio">
                                        <input class="form-check-input" required="" type="radio" 
                                        name="payment_option" value="Wallet" id="exampleRadios4">
                                        <label class="form-check-label" for="exampleRadios4" 
                                        data-bs-toggle="collapse" data-target="#checkPayment" 
                                        aria-controls="checkPayment"> wallet</label>
                                        <div class="form-group collapse in" id="checkPayment"></div>
                                        </div>

                                    <div class="custome-radio">

                                        <input class="form-check-input" required="" type="radio" 
                                        name="payment_option"  value="Cash on delivery" id="exampleRadios5">
                                        <label class="form-check-label" for="exampleRadios5"
                                         data-bs-toggle="collapse" data-target="#checkPayment" 
                                         aria-controls="checkPayment">Cash on delivery</label>
                                        <div class="form-group collapse in" id="checkPayment"></div>
                                        </div>
                                        
                                    <p id="codMessage" class="text-danger" style="display: none;">COD is not available for this porduct.</p>

                                </div>
                            </div>
                            <button onclick="placeOrder()" id="placeOrderBtn"  class="btn btn-fill-out btn-block mt-30">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('../layouts/userFooter.ejs') -%>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



    <script>
        function removeAddress(addressId) {
            const addressElement = document.getElementById('address_' + addressId);
            if (addressElement) {
                addressElement.parentNode.removeChild(addressElement);
                console.log('Address removed successfully');
                fetch('/removeAddress', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ addressId })
                })
                    .then(response => {
                        if (!response.ok) {
                            console.error('Failed to remove address');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                console.error('Address element not found');
            }
        }
    </script>

<script>
    function toggleAddressForm() {
        const formContainer = document.getElementById('addressFormContainer');
        formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    }
</script>
<script>
    document.getElementById('addressForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the default form submission

        const formData = new FormData(this);
        const data = {};
        formData.forEach((value, key) => (data[key] = value));

        fetch('/addAddress', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            if (result.success) {
                // Redirect to the checkout page after successfully saving the address
                window.location.href = '/loadCheckout';
            } else {
                // Display error messages or handle the error
                console.error('Error:', result.message);
                alert(result.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('An error occurred while saving the address.');
        });
    });
</script>


<script>
    function placeOrder() {
        const couponCode = document.getElementById('couponCode').value;
        
        const selectedRadioButton = document.querySelector('input[name="payment_option"]:checked');
        if (!selectedRadioButton) {
            toastr.info("Please select a Payment Method.");
            return false;
        };
        const buyNowProductId = document.getElementById('buyNowProductId') ? document.getElementById('buyNowProductId').value : null;
        const selectedPaymentMethod = selectedRadioButton.value;
        const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked').value;
        const totalAmount = parseFloat(document.getElementById("GrandTotal").innerText.replace('Rs.', ''));
    
        const orderData = {
            paymentMethod: selectedPaymentMethod,
            paymentStatus: "Pending",
            amount: totalAmount,
            address: selectedAddress,
            couponCode: couponCode,
            buyNowProductId: buyNowProductId
        };
    
        let url = '';
        if (selectedPaymentMethod === 'Razorpay') {
            url = '/onlinepay';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(orderData),
            })
            .then(response => response.json())
            .then(data => {
                if (data.razorpayOrder) {
                    const options = {
                        "key":'<%= process.env.RAZORPAY_ID_KEY %>',
                        "amount": data.razorpayOrder.amount,
                        "currency": "INR",
                        "name": "Sports Zone",
                        "description": "Order Payment",
                        "order_id": data.razorpayOrder.id,
                        "handler": function (response) {

                            console.log('Razorpay Payment Response:', response);

                            const paymentData = {
                                ...orderData,
                                paymentStatus: "Received",
                                razorpayPaymentId: response.razorpay_payment_id,
                            };
    
                            fetch(`/saveOrder?id=${data.order._id}`, {
                                method: 'PATCH',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(paymentData),
                            }).then(() => {
                                Swal.fire({
                                    position: "center",
                                    icon: "success",
                                    title: "Payment successful!",
                                    showConfirmButton: false,
                                    timer: 2000
                                }).then(() => {
                                    window.location.href = '/loadOrderPage';
                                });
                            });
                        },
                        "theme": {
                            "color": "#F37254"
                        }
                    };
                    const rzp = new Razorpay(options);
                    rzp.open();
                } else {
                    // Handle error case if razorpayOrder is not returned
                    Swal.fire({
                        icon: "error",
                        title: "Error",
                        text: "Unable to create Razorpay order."
                    });
                }
            });
        } else {
            url = '/placeOrder';
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(orderData),
            })
            .then(response => response.json())
            .then(data => {
                if (data.message === "Insufficient wallet balance") {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Insufficient wallet balance!"
                    });
                } else {
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Order Placed",
                        showConfirmButton: false,
                        timer: 2000
                    }).then(() => {
                        window.location.href = `/loadOrderPage?id=${data.orderId}`;
                    });
                }
            });
        }
    }
    </script>
    
    <script>
    const placeOrderBtn = document.getElementById('placeOrderBtn');
    placeOrderBtn.addEventListener('click', function (event) {
        event.preventDefault();
        placeOrder(); 
    });
    </script>
    




<script>
     function selectCoupon(couponCode) {
        document.getElementById('couponCode').value = couponCode; 
    }
</script>

<script>
  async function loadAvailableCoupons(grandTotal) {
    try {
        const response = await fetch('/selectCoupon', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ grandTotal: grandTotal }) // Pass grandTotal
        });

        console.log('Response status:', response.status); // Check if request is successful

        if (!response.ok) {
            throw new Error('Failed to fetch coupons.');
        }

        const data = await response.json();
        console.log('Fetched coupons:', data); // Log fetched coupons

        const couponDropdownMenu = document.getElementById('couponDropdownMenu');

        // Clear existing dropdown items
        couponDropdownMenu.innerHTML = '';

        // Check if there are any coupons and populate dropdown
        if (data.coupons && data.coupons.length > 0) {
            data.coupons.forEach(coupon => {
                const couponItem = document.createElement('a');
                couponItem.className = 'dropdown-item';
                couponItem.href = '#'; // Prevent default action
                couponItem.innerText = `${coupon.couponName} - ${coupon.discountAmount} off`;
                couponItem.onclick = () => selectCoupon(coupon.couponCode); // Set coupon code on click
                couponDropdownMenu.appendChild(couponItem);
            });
        } else {
            // If no valid coupons, show a message
            const noCouponsItem = document.createElement('a');
            noCouponsItem.className = 'dropdown-item';
            noCouponsItem.href = '#'; 
            noCouponsItem.innerText = 'No coupons available';
            couponDropdownMenu.appendChild(noCouponsItem);
        }
    } catch (error) {
        console.error('Error loading coupons:', error);
    }
}

// Call the function and pass the grand total as needed
document.addEventListener('DOMContentLoaded', function() {
    const grandTotal = 1000; // Replace with actual grand total calculation
    loadAvailableCoupons(grandTotal); // Load coupons when the document is ready
});

</script>


<script>
    async function applyCoupon() {
        const couponCode = document.getElementById('couponCode').value;
        const grandTotalElement = document.getElementById('GrandTotal');
        const selectedAmountText = grandTotalElement.innerText;
        const selectedAmount = parseFloat(selectedAmountText.replace('$', '')); // Extract numeric value

        console.log(selectedAmount, "odi vvannitend")
        try {
            const couponCodeInput = document.getElementById('couponCode');
            const selectedAmountInput = document.getElementById('GrandTotal');

            const response = await fetch('/applyCoupon', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ couponCode, selectedAmount })
            });

            if (!response.ok) {
                throw new Error('Failed to apply coupon.');
            }

            const data = await response.json();
            if (data.used) {
                toastr.error(data.message);
            }
            if (data.success) {
                toastr.success(data.message);
                const couponName = data.couponName;
                const couponid = data._id;
                const discountAmount = data.discountAmount;
                const originalTotal = parseFloat(document.getElementById('GrandTotal').innerText.replace('$', ''));
                // const discountPercent = parseFloat(discountAmount) / 100; // Convert discount amount to percentage
                const discountedTotal = originalTotal - discountAmount // Applying discount    
                console.log(couponid)
                console.log(discountedTotal);
                
                // Display the coupon name with a cross button
                document.getElementById('couponNamePlaceholder').innerHTML = `
<span style="color: green;">Coupon Applied: ${couponName}</span>
<button id="removeCouponBtn" style="background: none; border: none; cursor: pointer;">
<i class="fas fa-times"></i>
</button>
`;

                // Add event listener to the remove coupon button
                document.getElementById('removeCouponBtn').addEventListener('click', function () {
                    fetch('/removeCoupon', {
                        method: 'POST', // Assuming you want to send a POST request
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ couponCode }), // You can include any data if required
                    })
                        .then(response => {
                            if (response.ok) {
                                // Reload the page after successful removal
                                location.reload(); // Reload the page to remove the coupon
                            } else {
                                console.error('Failed to remove coupon');
                                // Handle the error if needed
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            // Handle the error if needed
                        });
                });


                // Update the total price display
                document.getElementById('GrandTotal').innerText = '$' + discountedTotal.toFixed(2);
                couponCodeInput.readOnly = true;
            } else {
                toastr.error(data.message);
            }


        } catch (error) {
            console.error('Error applying coupon:', error);
            // Handle error display or logging
        }
    }

</script>



    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>


