
<%- include('../layouts/userHeader.ejs') -%>

    
        <section class="home-slider">
            <div class="  rounded-lg ">
                <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
                    <!-- First Image -->
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="single-slider-img">
                            <img class="animated" src="uploads/wall77.jpg" alt="Hero Slider Image 1">
                        </div>
                    </div>
                    <!-- Second Image -->
                    <div class="single-hero-slider single-animation-wrap">
                        <div class="single-slider-img">
                            <img class="animated" src="uploads/virat.jpg" alt="Hero Slider Image 2">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        

        <section class="product-tabs pt-25 pb-20   wow fadeIn animated">
                <div class=" ml-10 row">

                    <div class="col-lg-3 d-flex flex-column"> <!-- col-lg-3 starts here -->
                        <!-- Widget Category -->
                        <div class="widget-category ml-15 mt-20 mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                    
                            <% if (category && category.length > 0) { %>
                            <ul class="categories">
                                <% for (let i = 0; i < category.length; i++) { %>
                                <li class="category-item">
                                    <a href="/filterbyCategory?categoryId=<%= category[i]._id %>"><%= category[i].catName %></a>
                                </li>
                                <% } %>
                                <li class="category-item">
                                    <a href="/allCategory">Show All</a>
                                </li>
                            </ul>
                            <% } else { %>
                            <p>No categories available</p>
                            <% } %>
                        </div>
                    
                        <!-- Image Div -->
                        <div class="image-container flex-grow-1 d-flex align-items-center justify-content-center">
                            <img src="../uploads/hit.jpeg" alt="Image Description" class="img-fluid" style="max-width: 100%; max-height: 100%;">
                        </div>
                    </div> <!-- col-lg-3 ends here -->
                    


                    <div class="col-lg-9">
                        <div class="tab-header">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="nav-tab-one" data-bs-toggle="tab" 
                                    data-bs-target="#tab-one" type="button" role="tab" aria-controls="tab-one" 
                                    aria-selected="true">Featured</button>
                                </li>
                                
                                <!-- <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="nav-tab-three" data-bs-toggle="tab" data-bs-target="#tab-three" type="button" role="tab" aria-controls="tab-three" aria-selected="false">New added</button>
                                </li> -->
                            </ul>
                            <!-- <a href="#" class="view-more d-none d-md-flex">View More<i class="fi-rs-angle-double-small-right"></i></a> -->
                        </div>
                        <!--End nav-tabs-->
                        
                        <div class="tab-content wow fadeIn animated" id="myTabContent">
                            <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                              <% if (locals.product && locals.category) { %>
                                <div class="row product-grid-4">
                                  <% for (let i = 0; i < product.length; i++) { %>
                                    <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                      <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                          <div class="product-img product-img-zoom">
                                            <a href="/productDetailPage?id=<%= product[i]._id %>">
                                              <% if (product[i].images) { %>
                                                <img class="current" src="../uploads/<%= product[i].images[0] %>" alt="">
                                                <% if (product[i].images.length > 1) { %>
                                                  <img class="hover-low" src="../uploads/<%= product[i].images[1] %>" alt="">
                                                <% } %>
                                              <% } else { %>
                                                <img class="default-img" src="../uploads/default-image.jpg" alt="No image available">
                                              <% } %>
                                            </a>
                                          </div>

                                          <div class="product-action-1">
                                            <a aria-label="Add To Wishlist" class="action-btn hover-up" onclick="addtoWishlist('<%= product[i]._id %>')">
                                                <i class="fi-rs-heart"></i>
                                            </a>
                                        </div>

                                          <!-- <div class="product-badges product-badges-position product-badges-mrg">
                                            <span class="hot">Hot</span>
                                          </div> -->
                                        </div>
                                        <div class="product-content-wrap">
                                          <div class="product-category">
                                            <a href="#"><%= product[i].productCategory.catName %></a>
                                          </div>
                                          <h2><a href="/productDetailPage?id=<%= product[i]._id %>"><%= product[i].productName %></a></h2>
                          
                                          <% if (product[i].countStock == 0) { %>
                                            <div class="product-price">
                                              <span style="display: inline-block; padding: 2px 16px; background-color: #ff0000; color: #ffffff; font-weight: bold; border-radius: 2px;">
                                                Currently Unavailable
                                              </span>
                                            </div>
                                          <% } else { %>
                                            <div class="product-price">
                                              <% if (product[i].productCategory && product[i].productCategory.OfferisActive && product[i].offerPrice < product[i].productPrice) { %>
                                                <span>Rs.<%= product[i].offerPrice %></span>
                                                <span class="old-price crossed">Rs.<%= product[i].productPrice %></span>
                                                <span><%= product[i].productCategory.offer %>%Off</span>
                                                

                                              <% } else { %>
                                                <span>Rs.<%= product[i].productPrice %></span>
                                              <% } %>
                                            </div>
                                            <div class="product-action-1 show">
                                               <a aria-label="Add To Cart" class="action-btn hover-up" onclick="addToCart('<%= product[i]._id %>')">
                                                <i class="fi-rs-shopping-bag-add"></i>
                                              </a>
                                            </div>
                                          <% } %>
                          
                                        </div>
                                      </div>
                                    </div>
                                  <% } %>
                                </div>
                              <% } %>
                            </div>
                          </div>
                    

                        </div>
                    </div>
                
        </section>


 <!-- Pagination outside the section -->
 <div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>



<section class="banner-2 section-padding pb-0">
    
        <div class="banner-img banner-big wow fadeIn animated f-none">
            <img src="../uploads/wallpapper1.jpg" alt="">
            <div class="banner-text d-md-block d-none">
                <h1 class="fw-600 mb-20">Sportzzzone.. <br>Cricket for life..!!</h1>
            </div>
        </div>
        </section>

        
        <section class="new-arrivals section-padding mt-15">
          <div class="container-fluid wow fadeIn animated">
            <h3 class="section-title mb-20 text-center"><span>Our</span> New Arrivals</h3>
            <div class="categories-grid">
              <% if (newArrivals && newArrivals.length > 0) { %>
                <% for (let i = 0; i < newArrivals.length; i++) { %>
                  <div class="card-1">
                    <figure class="img-hover-scale overflow-hidden">
                      <a href="/productDetail?id=<%= newArrivals[i]._id %>">
                        <% if (newArrivals[i].images && newArrivals[i].images.length > 0) { %>
                          <img src="../uploads/<%= newArrivals[i].images[0] %>" >
                        <% } else { %>
                          <img class="default-img" src="../uploads/noimage.webp" alt="No image available">
                        <% } %>
                      </a>
                    </figure>
                    <h5>
                      <a href="/productDetail?id=<%= newArrivals[i]._id %>"><%= newArrivals[i].productName %></a>
                    </h5>
                  </div>
                <% } %>
              <% } else { %>
                <p class="text-center">No new arrivals available.</p>
              <% } %>
            </div>
          </div>
        </section>
        
      
        
        
        


    <%- include('../layouts/userFooter.ejs') -%>

    <!-- Toastr CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function addToCart(productId) {
            event.preventDefault(); 
        
            fetch('/addtoCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId
                })
            })
            .then(response => {
                console.log('Fetch response status:', response.status); 
        
                if (!response.ok) {
                    throw new Error(`Failed to add item to cart. Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Fetch response data:', data); 
        
                if (!data.success) {
                    toastr.error(data.message); 
                } else {
                    toastr.success(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                toastr.error('An error occurred. Please try again.');
            });
        }
        </script>
        
        <script>
            function addtoWishlist(productId) {
                $.ajax({
                    url: '/wishlist/add',
                    method: 'POST',
                    data: { productId: productId },
                    success: function(response) {
                        if (response.success) {
                            Swal.fire({
                                title: 'Success',
                                text: response.message, // "Product added to wishlist"
                                icon: 'success',
                                confirmButtonText: 'OK'
                            });
                        } else {
                            Swal.fire({
                                title: 'Info',
                                text: response.message, // "Product is already in wishlist"
                                icon: 'info',
                                confirmButtonText: 'OK'
                            });
                        }
                    },
                    error: function(error) {
                        console.log(error);
                        Swal.fire({
                            title: 'Error',
                            text: 'Error adding product to wishlist',
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                });
            }
        </script>

<script>
    const searchInput = document.getElementById('search-input');
    const searchSuggestions = document.getElementById('search-suggestions');
    const showAllOption = document.getElementById('show-all');
    const searchForm = document.getElementById('search-form');
    
    searchInput.addEventListener('focus', function() {
      searchSuggestions.style.display = 'block';
    });
    
    document.addEventListener('click', function(event) {
      if (!searchForm.contains(event.target)) {
        searchSuggestions.style.display = 'none';
      }
    });
    
    searchInput.addEventListener('input', function() {
      searchSuggestions.style.display = 'block';
    });
    
    showAllOption.addEventListener('click', function() {
      searchInput.value = ''; 
      searchForm.submit();
    });
    </script>
    
    
    
    

    <!-- Vendor JS-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins/slick.js"></script>
    <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="assets/js/plugins/wow.js"></script>
    <script src="assets/js/plugins/jquery-ui.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="assets/js/plugins/magnific-popup.js"></script>
    <script src="assets/js/plugins/select2.min.js"></script>
    <script src="assets/js/plugins/waypoints.js"></script>
    <script src="assets/js/plugins/counterup.js"></script>
    <script src="assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="assets/js/plugins/images-loaded.js"></script>
    <script src="assets/js/plugins/isotope.js"></script>
    <script src="assets/js/plugins/scrollup.js"></script>
    <script src="assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="assets/js/maind134.js?v=3.4"></script>
    <script src="assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:21 GMT -->
</html>